@import "flash";
@import "background-opacity";
@import "button-variant";
@import "link-variant";
@import "placeholder";
@import "selection";
@import "text-overflow";

@mixin easing {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}