.home {
	text-align:center;
}

.first {
	@include pad(120px 0 0 0);
}
.last {
	@include pad(0 0 120px 0);
}
.left {
	@include span-columns(5);
	@include shift(1);

}
.masks {
	@include pad(120px 0 0 0);
	@include span-columns(8);
	@include shift(2);

	div {
		@include span-columns(3);
		@include omega(4n);
	}
}
.right {
	@include span-columns(5);
}

.content {
	@include span-columns(10);
	@include shift(1);

	h1, h2 {
		@include pad(120px 0 0 0);
	}
	
	.video {
		@include pad(60px 0 60px 0);
	}

	.images1 {
		@include pad(80px 0 0 0);
	}

	.images2 {
		@include pad(160px 0 200px 0);
	}
}

.social {
	position: absolute;
	top:1490px;
	width:5%;
	left:48%;
	font-size:13px;
	line-height:1.1em;
	font-family: "Arial", sans-serif;
	a {
		color:white;
		&:hover {
			color: $yellow;
		}
	}
}



/* Photos */
.fixed-creep-l,.fixed-creep-r {
	position:fixed; 
	width:50%;
	top:41.5%;
	text-align: center;
	z-index:0;

	h1 {
		font-size: 100px;
	}
}

.fixed-creep-l {left:5%;}
.fixed-creep-r {right:5%;}


.content-photos {
	@include span-columns(10);
	@include shift(1);
	position: relative;
	z-index: 1;
	@include pad(0 0 120px 0);
	
	img {
		width:80%;
		margin-left:10%;
	}

	/*a {
		img {
			opacity:1; @include easing;
		}

		.image-wrap {
			background:none; 
			@include easing;
		}
	}

	a:hover {
		img {opacity:0.4;}

		.image-wrap {
			background:$yellow;
		}
	}*/
}

.one {
	@include span-columns(3);

}
.two {
	@include span-columns(6);
	img{width:90%;margin-left:5%;}
}
.three {
	@include span-columns(9);
}

.pad {padding-bottom:49.5%;}
.arrow {
	width:40%;
	margin-bottom:30px;
	text-align: center;
	margin-left: 50%;
	font-size:30px;
	a {
		color:white;
		&:hover {
			color: $yellow;
		}
	}
}
